<!DOCTYPE html>
<html>
  <head>
    <title>Microsites3Api</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta description="some description">
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="some title tome" />
    <meta property="og:description"        content="some description tome" />

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= render :partial => 'application/main_footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
